.pane {
    display: flex;
}

.pane table {
    border-collapse: collapse;
    color: rgb(96, 98, 102);
    width: 100%;
}

.pane table th {
    padding: 7px 5px;
    border: 1px solid #cccccc;
    background-color: #EDEDED;
    color: #444;
}

.pane table td {
    padding: 5px 5px;
    border: 1px solid #ccc;
}

.pane .index {
    background-color: #EEEEEE;
}

.pane .diff {
    background-color: #FFC7CE;
}

.pane .new {
    background-color: #C6EFCE;
}

.pane .del {
    background-color: #DDDDDD;
}

td,
th {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 25px;
    max-width: 80px;
}