.pane {
    display: flex;
}

.pane>* {
    flex-grow: 1;
}

.pane table {
    border-collapse: collapse;
    color: rgb(96, 98, 102);
    width: 100%;
}

.pane table .key {
    font-weight: bold;
}

.pane table th {
    padding: 7px 5px;
    border: 1px solid #cccccc;
    background-color: #EDEDED;
    color: #444;
}

.pane table td {
    padding: 5px 5px;
    border: 1px solid #ccc;
}

.main .index {
    background-color: #DDEBF7;
}

.main .diff {
    background-color: #FFC7CE;
}

.main .new {
    background-color: #C6EFCE;
}

.main .del {
    background-color: #CCCCCC;
}

td,
th {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 25px;
    max-width: 80px;
}

.file-path {
    border: #CCCCCC solid 1px;
}