.pane {
    display: flex;
}

.pane>* {
    flex-grow: 1;
}

.pane table {
    border-collapse: collapse;
    color: rgb(96, 98, 102);
    width: 100%;
}

.pane table .key {
    font-weight: bold;
    max-width: 180px;
    color: #2F75B5;
}

.pane table th {
    border: 1px solid #BBBBBB;
    background-color: #EDEDED;
    color: #444;
}

.pane table td {
    padding: 2px 5px;
    border: 1px solid #BBBBBB;
}

.main .rank {
    background-color: #EDEDED;
    width: 40px;
    text-align: center;
}

.main .diff {
    background-color: #FFC7CE;
}

.main .status-button {
    cursor: default;
    width: 32px;
    height: 32px;
    /* border: #333333 solid 1px; */
    background-color: #333333;
    color: #FFFFFF;
}

td,
th {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 25px;
    max-width: 80px;
}

.file-path {
    border: #BBBBBB solid 1px;
    padding: 2px 5px;
    margin: 2px 1px;
}